#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 65%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

#header-login {
  font-size: 20px;
  font-weight: 500;
}

.padding-card {
  padding: 15px;
}

.text-color {
  color: #383838;
}

.header-text-color {
  color: #ffffff;
}

.logo {
  margin-top: 65px;
}

ion-header {
  --ion-background-color:#ffffff;
}

ion-content{
  --ion-background-color:linear-gradient(90deg, #DFE1FE 0%, #ffccf7 100%);
}

ion-card{
  --ion-background-color:#ffffff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

ion-list {
  --ion-background-color:#ffffff00;
}

ion-button {
  --ion-color-primary: linear-gradient(135deg, #b991fa 0%, #fc9fff 100%);
}